<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <title>Sign in & Sign up Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}" />
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="#" class="sign-in-form">
            <!-- <h1 class="title">Sign In</h1> -->
            <h1>Hello There,</h1>
            <h2 >Welcome Back</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" />
            </div>
            <label class='btn' for='btn'>
              <span style="font-size: 16px; font-weight: 600;">LOG IN</span>
              <input type="submit" value='Login' class='btn'/>
              </label>
          </form>
          <form action="#" class="sign-up-form">
            <!-- <h2 style="margin-bottom: -20px;">Become</h2>
            <h1 style="margin-bottom: 20px;">Secure</h1> -->
            <div id="sign-up-div"><span style="font-size: 50px;">g</span><span style="font-size: 35px;">et </span><span style="font-size: 60px;">S</span><span style="font-size: 40px;">ECURE</span></div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" />
            </div>
            <label class='btn' for='btn'>
              <span style="font-size: 16px;">Get Mail</span>
              <input type="submit" value='Get Mail' class='btn'/>
            </label>
            <!-- <p class="social-text">Or Sign up with social platforms</p> -->
            <div class="social-media">
              &nbsp; 
              <!-- <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a> -->
            </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
              ex ratione. Aliquid!
            </p>
            <label class='btn' id='sign-up-btn' for='btn'>
              <span style="font-size: 16px;">Sign Up</span>
              <input type="submit" value='Signup' class='btn'/>
            </label>
          </div>
          <img src={% static "img/log.svg"%} class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              laboriosam ad deleniti.
            </p>
            <label class='btn' id='sign-in-btn' for='btn'>
              <span style="font-size: 16px;">Sign In</span>
              <input type="submit" value='Signin' class='btn'/>
            </label>
          </div>
          <img src={% static "img/register.svg"%} class="image" alt="" />
        </div>
      </div>
    </div>

    <script src={% static "app.js"%}></script>
  </body>
</html>
